.div{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.div-header{
    position: relative;
    /* justify-content: start; */
    /* align-items: stretch; */
    /* display: flex; */
}

